.body {
    padding-top: 0px;
    border-radius: 0px;
    background-image: url("../assets/images/backgound.jpg");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 767px) {
    .body {
        clear: none;
    }
}

.content-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(56, 56, 56);
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: none;
    }
}

.title {
  padding-top: 15px;
  background-color: rgba(27, 27, 27, 0.34);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}
.image {
    max-width: 100%;
    height: auto;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.options {
  position: static;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  justify-content: center;
  float: none;
  clear: none;
  flex-flow: row;
  grid-auto-columns: 1fr;
  gap: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  background-color: rgb(35, 35, 35);
}

@media screen and (max-width: 991px) {
  .options {
    padding-left: 0px;
    clear: both;
  }
}

@media screen and (max-width: 479px) {
  .options {
    position: static;
    clear: both;
  }
}

.button {
  align-self: auto;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(56, 56, 56);
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: rgb(134, 134, 134);
}

@media screen and (max-width: 991px) {
  .button {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: block;
  }
}

.content {
  border-style: none;
  border-width: 1px;
  border-color: black black rgb(31, 31, 31);
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
}

@media screen and (max-width: 479px) {
  .content {
    float: none;
    clear: both;
  }
}

.content-section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #2b2b2b;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 10px;
}

.heading {
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  color: rgb(145, 145, 145);
  font-weight: 400;
  text-align: left;
}

.heading h1 :after {
  display: block;
  content: '';
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

.paragraph {
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 70px;
  color: rgb(145, 145, 145);
}

.contact-section {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: rgb(35, 35, 35);
}

.contact-info {
  color: rgb(145, 145, 145);
  font-weight: 600;
  text-align: center;
}

.info-container {
  justify-content: center;
}

.info-block dt {
  display: block;
  width: 3em;
  margin: 0;
  clear: left;
  float: left;
  font-weight: bold;
  color: rgb(110, 110, 110);
}

.info-block dd {
  display: block;
  margin-inline-start: 40px;
  margin: 0 0 0.85em 5.5em;
  color: rgb(99, 99, 99);
}

a:link {
  color: #969696;
}

a:visited {
  color: #4d4d4d;
}

.text-block-1 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  color: rgb(99, 99, 99);
  text-align: left;
}

.info-container {
  display: flex;
  padding-top: 20px;
  padding-left: 101px;
}

.text-block-2 {
  margin-right: auto;
  color: rgb(99, 99, 99);
}

.copyright {
  padding-top: 10px;
  padding-bottom: 20px;
}

.copyright-text {
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  color: rgb(99, 99, 99);
  text-align: center;
}

@media screen and (max-width: 479px) {
  .options {
    gap: 10px; /* Reduces space between buttons on phones */
    flex-wrap: wrap; /* Allows buttons to wrap to a new line if they are too wide */
  }
}